<a href="https://colab.research.google.com/github/RadMagnus/herausforderung_1591/blob/master/herausforderung_1591_simple_mvlr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import requests, io
%matplotlib inline

In [0]:
r = requests.get('https://raw.githubusercontent.com/RadMagnus/herausforderung_1591/e698597b4d45e47e1a8fecbeacfdd186b0868bab/data/reduced/reduceCasesToDailyLK.tsv')
parse_dates = ['date']
dataset = pd.read_csv(io.BytesIO(r.content), low_memory=False, sep='\t', dtype={'id_county': np.int32, 
                                                                             'id_state': np.int32, 
                                                                             'population': np.float64,
                                                                             'density': np.float64}, parse_dates=parse_dates )

In [24]:
dataset.isnull().any()

date            False
id_county       False
county          False
id_state        False
state           False
size             True
population       True
density          True
demography_1    False
no_cases        False
cases_m         False
cases_w         False
A00-A04         False
A05-A14         False
A15-A34         False
A35-A59         False
A60-A79         False
A80+            False
no_infected     False
no_deceased     False
dtype: bool

In [0]:
dataset['cases_total'] = dataset['cases_m'] + dataset['cases_w']
dataset['timestamp'] = dataset['date'].astype(np.int64) // 10**9

In [0]:
dataset = dataset.fillna(method='ffill')

In [33]:
dataset.describe()

         id_county     id_state  ...  cases_total     timestamp
count   3088.00000  3088.000000  ...  3088.000000  3.088000e+03
mean    8080.67908     7.771697  ...     3.046956  1.584115e+09
std     3383.78277     3.410955  ...     5.029752  4.659139e+05
min     1001.00000     1.000000  ...     0.000000  1.580170e+09
25%     5769.00000     5.000000  ...     1.000000  1.583885e+09
50%     8222.00000     8.000000  ...     2.000000  1.584144e+09
75%     9574.25000     9.000000  ...     3.000000  1.584490e+09
max    16077.00000    16.000000  ...    79.000000  1.584662e+09

[8 rows x 19 columns]

In [0]:
x = dataset[['id_county', 'timestamp', 'population', 'density', 'demography_1', 'A00-A04', 'A05-A14','A15-A34','A35-A59','A60-A79', 'A80+']].values
y = dataset['cases_total'].values

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [36]:
regressor = LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_pred = regressor.predict(x_test)

In [38]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.8933344991050286
Mean Squared Error: 1.736076514316471
Root Mean Squared Error: 1.3176025631109218