<a href="https://colab.research.google.com/github/RadMagnus/herausforderung_1591/blob/master/herausforderung_1591_simple_mvlr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import requests, io
%matplotlib inline

In [0]:
r = requests.get('https://raw.githubusercontent.com/RadMagnus/herausforderung_1591/master/integration/integrated.tsv')
dataset = pd.read_csv(io.BytesIO(r.content), low_memory=False, sep='\t')

In [9]:
dataset.isnull().any()

id_state         True
state            True
county           True
agegroups        True
sex              True
object_id        True
date             True
id_county       False
status           True
demography_1    False
size             True
population       True
density          True
dtype: bool

In [0]:
dataset = dataset.fillna(method='ffill')

In [11]:
dataset.describe()

           id_state      object_id  ...    population       density
count  16717.000000   16717.000000  ...  1.671700e+04  16717.000000
mean       7.336065  150755.485733  ...  3.809869e+05    845.538455
std        3.048130    2296.474732  ...  4.001477e+05   1098.945672
min        1.000000  146938.000000  ...  3.427000e+04     36.128516
25%        5.000000  148682.000000  ...  1.527030e+05    166.616753
50%        8.000000  150654.000000  ...  2.531060e+05    336.911042
75%        9.000000  152507.000000  ...  4.248780e+05   1033.892772
max       16.000000  155167.000000  ...  3.613495e+06   4686.167166

[8 rows x 7 columns]

In [6]:
x = dataset[['ags', 'date']].values
y = dataset['cases_total'].values

KeyError: ignored

In [0]:
y_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
regressor = LinearRegression()  
regressor.fit(x_train, y_train)

In [0]:
y_pred = regressor.predict(x_test)

In [0]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))